.settings {
  background-color: rgb(74, 81, 90);
  flex-basis: 20rem;
  min-height: 100vh;
}

.settings * {
  color: rgb(255, 255, 255);
}

.settings .secondary-heading {
  margin: 0;
  padding: 2rem;
  border-bottom: 2px solid rgb(96, 105, 116);
  border-top: 2px solid rgb(96, 105, 116);
  display: flex;
}

.heading-icon {
  margin-right: 1rem;
}

.sidebar-item {
  padding: 1.5rem 2rem 1.5rem 3rem;
  font-size: 1.6rem;
}

.sidebar-item:hover {
  padding: 1.5rem 2rem 1.5rem 3rem;
  background-color: rgb(103, 109, 116);
}
